body {
  background-color: rgba(129, 58, 88, 0.65);
  text-align: center;
  min-height: 100%;
  /* font-size: 18px; */
}

h1 {
  font-size: 20px;
  color: whitesmoke;
}

a:link,
a:visited {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: none;
  color: rgb(20, 61, 61);
}
