/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: rgba(129, 58, 88, 0.65);
    text-align: center;
}

h1 {
    font-weight: lighter;
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: black;
}

a:link,
a:visited {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: none;
    color: rgb(128, 156, 156);
}